/*-- scss:defaults --*/
$navbar-bg: #303030;
$navbar-hl: #fff;
$link-color: #303030;
$footer-bg: #303030;
$footer-fg: #fff;

/*-- scss:rules --*/

h1 {
    color: darkblue;
}

h2 {
    color: darkgreen;
}

h3 {
    color: darkred;
}
